<ion-view title="User Profile">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-clear" ng-click="myProfile()">Edit</button>
    </div>
  </ion-nav-buttons>
  <ion-content class="has-header padding user-profile-sec">
    
    <div class="usr-sec">
      <img src="https://cdn4.iconfinder.com/data/icons/people-std-pack/512/user-512.png" class="usr-profile-img">
      <p class="usr-name">Bikram Singh</p>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>199<span>Followers</span></th>
          <th>48<span>Following</span></th>
          <th>14<span>Favourites</span></th>
        </tr>
      </thead>
    </table>
    <ul class="list profile-details">
      <li class="item"><label>Email:</label> info@democoder.com</li>
      <li class="item"><label>Phone:</label> +91- 000 0000</li>
    </ul>
  </ion-content>
</ion-view>